.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }

.featuredImg{
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 10px;
}


.featuredItem{
  position: relative;
  color: white;
 
 }

.featuredTitles{
  position: absolute;
  bottom:10px;
  margin:10px;
  /* color:#fff; */
}

.featuredTitles > h1{
  margin-bottom: -20px;
}